body {
    background-color: lightgray;
}
.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.no_decoration{
    text-decoration: none;
    color: white;
}
.hidden{
    display: none!important;
}
#add_presta{
    position: relative;
    right: 0;
    top: 0;
}
.bg-standard{
    border: 1px solid #000;
    border-radius: 10px;
    padding: 20px;
    background-color: #98cdf6;
}
#modal{
    position: absolute;
    background: green;
    width: 20vw;
    height: 100px;
    bottom: 0;
    right: 0;
}
